<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Light Bulbs</title>
</head>
<body>
    <form method="post">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Register a new light bulb">
    </form>

{#    <form method="post">#}
{#        {% csrf_token %}#}
{#        <ul>#}
{#        <input type="text" id="name" name="name" placeholder="Your name here"><br>#}
{#        <input type="submit" value="Register a new light bulb">#}
{#        </ul>#}
{#    </form>#}
</body>
</html>
